<a href="https://colab.research.google.com/github/jsyoo1229/orm/blob/main/240120_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Generator

In [ ]:
def gen(n):
    for x in range(n):
        yield x**3

In [ ]:
gen(10)

In [ ]:
def gen():
    x = 0
    while True:
        yield x
        x += 2

list(zip('hello', gen()))

[('h', 0), ('e', 2), ('l', 4), ('l', 6), ('o', 8)]

###Module

In [ ]:
import a.b.c.info as i

i.name

'ariana grangde'

In [ ]:
import sys

sys.path
sys.modules

In [ ]:
from info import name, age, hello

print(name)
print(age)

ariana
20

In [ ]:
import os

os.mkdir('amanda')

In [ ]:
import json

data = [{
        "지역이름": "전국",
        "확진자수": 24889,
        "격리해제수": 23030,
        "사망자수": 438,
        "십만명당발생율": 48.0,
        "지역별확진자비율": ""
    },
    {
        "지역이름": "서울",
        "확진자수": 5607,
        "격리해제수": 5050,
        "사망자수": 66,
        "십만명당발생율": 57.61,
        "지역별확진자비율": 22.53
    }]

s = json.dumps(data)   # str
print(s)
print(type(s))

d = json.loads(s)
print(d)
print(type(d))

[{"\uc9c0\uc5ed\uc774\ub984": "\uc804\uad6d", "\ud655\uc9c4\uc790\uc218": 24889, "\uaca9\ub9ac\ud574\uc81c\uc218": 23030, "\uc0ac\ub9dd\uc790\uc218": 438, "\uc2ed\ub9cc\uba85\ub2f9\ubc1c\uc0dd\uc728": 48.0, "\uc9c0\uc5ed\ubcc4\ud655\uc9c4\uc790\ube44\uc728": ""}, {"\uc9c0\uc5ed\uc774\ub984": "\uc11c\uc6b8", "\ud655\uc9c4\uc790\uc218": 5607, "\uaca9\ub9ac\ud574\uc81c\uc218": 5050, "\uc0ac\ub9dd\uc790\uc218": 66, "\uc2ed\ub9cc\uba85\ub2f9\ubc1c\uc0dd\uc728": 57.61, "\uc9c0\uc5ed\ubcc4\ud655\uc9c4\uc790\ube44\uc728": 22.53}]
<class 'str'>
[{'지역이름': '전국', '확진자수': 24889, '격리해제수': 23030, '사망자수': 438, '십만명당발생율': 48.0, '지역별확진자비율': ''}, {'지역이름': '서울', '확진자수': 5607, '격리해제수': 5050, '사망자수': 66, '십만명당발생율': 57.61, '지역별확진자비율': 22.53}]
<class 'list'>

In [ ]:
import collections
l = [1, 2, 3, 4]
d = collections.deque(l)
d.rotate(1)
d.rotate(4)
d

deque([4, 1, 2, 3])

In [ ]:
s = 'hello world'
c = collections.Counter(s)
c

Counter({'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1})

In [ ]:
c.most_common()

[('l', 3),
 ('o', 2),
 ('h', 1),
 ('e', 1),
 (' ', 1),
 ('w', 1),
 ('r', 1),
 ('d', 1)]

###File I/O

In [ ]:
with open('text.txt', 'w') as f:
    f.write('hello world')

###Exception Handling

In [ ]:
print('hello')
try:
    s = 1/0
    print(s)
except:
    print('error 발생')
print('world')

hello
error 발생
world

###일차, 고차함수

In [ ]:
l = [1,2,3,4]
def apply_function(lst, func):
    return list(map(func, lst))

result = apply_function(l, lambda x: x*2)
print(result)

[2, 4, 6, 8]

In [ ]:
def multiply_by_n(n):
    return lambda x: x * n

multiplier = multiply_by_n(5)
multiplier(3)

15

In [ ]:
class Calc:
    pass

add = Calc()

add.oper = lambda x, y: x + y
add.oper(10, 20)

30

###Python 알고리즘 베이직 100

In [ ]:
https://100.pyalgo.co.kr/?page=10

# 게임 밸런스 조절
# 문제 설명
# 라이캣은 연말 출시할 게임의 게임 난이도를 조절하는 업무를 담당하게 되었습니다.
# 우선 능력치가 비정상적으로 높은 캐릭터들의 리스트를 뽑고자 합니다.
# 캐릭터 이름, 공격력, 방어력, 체력, 마력이 리스트로 ['Licat', 98, 30, 21, 60]와
# 같이 주어졌을 때 모든 능력치의 합이 350 이상이 되는 캐릭터의 이름을 출력하는
# solution함수를 완성해주세요.

# 제한 사항
# 3 ≤ 캐릭터의 수 ≤ 10
# 10 ≤ 능력치 ≤ 100

# 캐릭터 이름, 공격력, 방어력, 체력, 마력이 리스트로 ['Licat', 98, 30, 21, 60]와
# 같이 주어졌을 때 모든 능력치의 합이 350 이상이 되는 캐릭터의 이름을 출력하는
# solution함수를 완성해주세요.

# 입출력 예
# 입력	출력
# [['Licat', 98, 92, 85, 97], ['Mura', 95, 32, 51, 30], ['Binky', 98, 98, 51, 32]]

#   ['Licat']
# [['Gray', 98, 92, 85, 97], ['Gom', 98, 30, 21, 60], ['Allosa', 98, 90, 99, 98]]

#   ['Allosa', 'Gary']

# 입출력 설명
# [['Licat', 98, 92, 85, 97], ['Mura', 95, 32, 51, 30], ['Binky', 98, 98, 51, 32]]
# 이 입력되었을 때
#  모든 능력치의 합이 350이 넘는 캐릭터는 'Licat'뿐입니다.
#   'Licat'은 98 + 92 + 85 + 97 = 372로 350이 넘어갑니다.
#   따라서 'Licat'을 리스트에 담아 출력합니다.
#   여러명일 경우 알파벳 순으로 정렬하여 출력하여야 합니다.

lst = [['Licat', 98, 92, 85, 97], ['Mura', 95, 32, 51, 30], ['Binky', 98, 98, 51, 32]]

def solution(lst):
    result = [i[0] for i in lst if i[1]+i[2]+i[3]+i[4] > 350]
    return result

solution(lst)

['Licat']

In [ ]:
l = [1, 2, 100, 200, 3, 4, 10, 20]

sorted(l)

[1, 2, 3, 4, 10, 20, 100, 200]

In [ ]:
sorted(l, reverse = True)

[200, 100, 20, 10, 4, 3, 2, 1]

In [ ]:
l = ['hello', 'l', 'hllo', 'hel', 'heo', 'a']
sorted(l)

['a', 'hel', 'hello', 'heo', 'hllo', 'l']

In [ ]:
sorted(l, key = len)

['l', 'a', 'hel', 'heo', 'hllo', 'hello']

In [ ]:
l = ['21', '21', '12', '22', '53', '15']
sorted(l, key = lambda x: x[-1])

['21', '21', '12', '22', '53', '15']

In [79]:
https://100.pyalgo.co.kr/?page=12

# 우편 번호 정렬
# 문제 설명
# 각 주소가 담긴 배열과 우편번호 목록이 딕셔너리 형태로 주어질 때 에서
#  우편번호 오름차순 순서대로 주소를 정렬하는 코드를 작성해주세요.

# 제한 사항
# 63002 ≤ 우편번호 ≤ 63364
# 우편번호는 항상 '시 - 동 - 길' 순으로 주어집니다. 예외사항은 없습니다.
# 같은 동은 주어지지 않으며, 같은 우편번호도 주어지지 않습니다.

# 입출력 예
# 입력	출력
# [['제주시 A동 한라산길 61', '제주시 B동 백록담길 63', '제주시 C동 사라봉길 31'],
#  {'A동': 63007, 'B동': 63010, 'C동': 63002}]

# ['제주시 C동 사라봉길 31', '제주시 A동 한라산길 61', '제주시 B동 백록담길 63']

# 입출력 설명
# ['제주시 A동 한라산길 61', '제주시 B동 백록담길 63', '제주시 C동 사라봉길 31']
# 에서 각각의 우편변호는 63007, 63010, 63002입니다. 따라서 우편 번호 오름차순으로
# 정렬을 하면 63002, 63007, 63010으로 정렬을 해야 하고, 이는 C동, B동, A동입니다.
# 따라서 결과 값은
#  ['제주시 C동 사라봉길 31', '제주시 A동 한라산길 61', '제주시 B동 백록담길 63']
#  이 되어야 합니다.

lst = [['제주시 A동 한라산길 61', '제주시 B동 백록담길 63', '제주시 C동 사라봉길 31'],
 {'A동': 63007, 'B동': 63010, 'C동': 63002}]


def solution(data):
    return sorted(data[0], key = lambda x: data[1].get(x.split(' ')[1]))

solution(lst)

['제주시 C동 사라봉길 31', '제주시 A동 한라산길 61', '제주시 B동 백록담길 63']

In [ ]:
https://100.pyalgo.co.kr/?page=13

# ['Moby Dick', '1984', 'To Kill a Mockingbird']

lst = [['Moby Dick', 'To Kill a Mockingbird', '1984', 'A'],
 {'Moby Dick': 1851, 'A': 1851, 'To Kill a Mockingbird': 1960, '1984': 1949}]
# book_name, pulished_year = lst  # 언패킹



def solution(l):
    book_name, pulished_year = lst  # 언패킹
    return sorted(book_name, key = lambda x: (pulished_year[x], x))   # pulished_year[x]: dict의 key로, value 얻어냄.
                                                                      # , x: 2차 기준


# book_name
# pulished_year
solution(lst)

['A', 'Moby Dick', '1984', 'To Kill a Mockingbird']

In [78]:
lst = [['Moby Dick', 'To Kill a Mockingbird', '1984', 'A'],
 {'Moby Dick': 1851, 'A': 1851, 'To Kill a Mockingbird': 1960, '1984': 1949}]

book_name, pulished_year = lst  # 언패킹

pulished_year.get('Moby Dick')  #dict value 가져오기

1851