<a href="https://colab.research.google.com/github/jsyoo1229/orm/blob/main/240122_pyalgo100_19_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###19

In [18]:
# https://100.pyalgo.co.kr/?page=19#
data = [123, 4.56, 'hello', [1, 2, 3], (4, 5), {'a': 1, 'b': 2}]

['int', 'float', 'str', 'list', 'tuple', 'dict']

def solution(data):
    return [type(i).__name__ for i in data]

solution(data)
# a = 123
# type(a) #int
# str(type(a))  #<class 'int'>
# type(a).__name__  #int #__name__ 매직 메서드

['int', 'float', 'str', 'list', 'tuple', 'dict']

###20

In [21]:
# https://100.pyalgo.co.kr/?page=20#
lst = [('list', [1, 2, 3]), ('int', 4), ('str', 'hello')]	 #True
lst2 = [('str', 100), ('dict', {'a': 1}), ('tuple', (1, 2, 3))]	#False

def solution(data):
    for a, b in data:
        if type(b).__name__ == a:
            return True
        else:
            return False

solution(lst2)

False

In [29]:
def solution(data):
    return all([type(b).__name__ == a for a, b in data])   #all(iterable): 하나로도 False면 False

solution(lst2)

False

In [25]:
all([True, True])

True

In [26]:
all([True, False])

False

###21

In [33]:
# https://100.pyalgo.co.kr/?page=21#
t = ([1, 3, 5, 7, 9], 5)	#2
t2 = ([2, 4, 6, 8, 10], 7)	#False



# def solution(data):
#     return all([b in a for a, b in data])

def solution(data):
        a, b = data
        if b in a:
            return b
        else:
            return False

solution(t2)

False

###22

In [44]:
# https://100.pyalgo.co.kr/?page=22#
t = ('hello', 'e')	#1
t2 = ('world', 'a')	#False
# t[0]  #튜플에도 index가 있다.
# t[1]
# t.index('e')  #index 함수: 특정 요소의 index 번호


# def solution(data):
#     a, b = data
#     if b == a[0]:
#         return 0
#     elif b == a[1]:
#         return 1
#     elif b == a[2]:
#         return 2
#     elif b == a[3]:
#         return 3
#     elif b == a[4]:
#         return 4
#     else:
#         return False

# def solution(data):
#     index = range(len(data))
#     a, b = data
#     if b == a[index]:
#         return index
#     else:
#         return False

def solution(data):
    try:
        if data[0].index(data[1]):
            return data[0].index(data[1])
    except:                                     #ValueError:index 메소드에서,
            return False                        #찾고자 하는 문자가 문자열 내에
                                                #존재하지 않을 때 발생하는 오류
                                                #try except:




solution(t)
# data[len(data)-1]

1

###23

In [56]:
# https://100.pyalgo.co.kr/?page=23#
t = ([[1, 3, 5], [7, 9, 11], [13, 15, 17]], 7)	#True
t2 = ([[2, 4, 6], [8, 10, 12], [14, 16, 18]], 13)	#False

# def solution(data):
#     a, b = data
#     c, d, e = a
#     if b in c or d or e:
#         return True
#     else:
#         return False

def solution(data):
       for i in data[0]:   #for문의 의미 파악
         if data[1] in i:
            return True
       return False   #False return문의 위치


solution(t)

True