<a href="https://colab.research.google.com/github/jsyoo1229/orm/blob/main/240111_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. 다음 숫자 중 5보다 크고, 20보다 작으면서 짝수인 수를 모두
# 더하는 코드를 완성 해주세요. 오늘 배운 filter 사용은 필수 입니다.
number = [1, 5, 7, 4, 3, 22, 23, 15, 26, 17, 3]

def solution(data):
    return sum(filter(lambda x: x > 5 and x > 20 and x % 2 == 0, data))

solution(number)

[]

In [ ]:
# 2. 다음에 정보가 담겨져 있는 것을 Class로 만들어주세요. 메서드로는 '할인' 메서드를 만들어주세요.
# 예를 들어 아래 책을 10% 할인한다고 하면 4500원이 됩니다. `책.할인(10) == 4500`의 형태로 만들어주시면 됩니다.
{
    '책제목': 'hello world python',
    '책 내용 요약': 'hello world...',
    '저자': '이호준',
    '발행일': '2024-01-11',
    '가격': 5000
}

In [ ]:
class Book:
    def __init__(self, title, summary, author, publication_date, price):
        self.title = 'title'
        self.summary = 'summary'
        self.author = 'author'
        self.publication_date = 'publication_date'
        self.price = 'price'

    def dicount_rate(self, rate):
        return self.price - int(self.price * (rate/100))

In [ ]:
# {
#     '책제목': 'hello world python',
#     '책 내용 요약': 'hello world...',
#     '저자': '이호준',
#     '발행일': '2024-01-11',
#     '가격': 5000
# }

Licat = Book('hello world python', 'hello world...', '이호준', '2024-01-11', 5000)

In [ ]:
Licat.dicount_rate(10)

ValueError: invalid literal for int() with base 10: 'price'

In [ ]:
# 3. 다음 문제를 풀고 정답을 제출해주세요.
3.1 https://100.pyalgo.co.kr/?page=10#
3.2 https://100.pyalgo.co.kr/?page=18#

In [ ]:
3.1 https://100.pyalgo.co.kr/?page=10#

'''
제한 사항
3 ≤ 캐릭터의 수 ≤ 10
10 ≤ 능력치 ≤ 100
350이 넘는 캐릭터의 이름은 알파벳 순으로 출력합니다.

입출력 예
입력	                                                                                출력
[['Licat', 98, 92, 85, 97], ['Mura', 95, 32, 51, 30], ['Binky', 98, 98, 51, 32]]	['Licat']
[['Gray', 98, 92, 85, 97], ['Gom', 98, 30, 21, 60], ['Allosa', 98, 90, 99, 98]]	   ['Allosa', 'Gary']
'''

# Example input
character_list = [['Licat', 98, 92, 85, 97], ['Mura', 95, 32, 51, 30], ['Binky', 98, 98, 51, 32]]

def select_characters_with_high_abilities(character_list):
    selected_characters = []

    for character in character_list:
        name, attack, defense, stamina, magic = character #언패킹
        total_ability = attack + defense + stamina + magic #언패킹한 데이터들을 새로운 변수에

        if total_ability >= 350:
            selected_characters.append(name)

    # Sort the selected characters alphabetically
    selected_characters.sort()

    return selected_characters



# Get the characters with high abilities
result = select_characters_with_high_abilities(character_list)

# Print the result
print(result)

In [28]:
character_list = [['Licat', 98, 92, 85, 97], ['Mura', 95, 32, 51, 30], ['Binky', 98, 98, 51, 32]]

# def select_characters_with_high_abilities(character_list):


def select_characters (character_list):
        selected_characters = []
        for character in character_list:
            name, attack, defense, stamina, magic = character

            total_ability = attack + defense + stamina + magic

            if total_ability >= 350:
                selected_characters.apped(name)

        selected_characters.sort()
        return selected_characters


result = select_characters(character_list)
print(result)

[]

In [ ]:
3.2 https://100.pyalgo.co.kr/?page=18#
# 주간 최고 온도 기록 분석
# 문제 설명
# 일주일 동안의 최고 기온이 기록된 데이터가 주어집니다.
# 이 데이터에서 가장 높은 온도를 기록한 상위 3일을 찾아 'YY-MM-DD: 온도' 형식으로 반환하는 코드를 작성해주세요.
# 데이터는 'YYYY-MM-DD' 형식의 날짜와 해당 날짜의 최고 온도(섭씨)로 구성됩니다.

# 제한 사항
# 각 날짜의 최고 온도는 정수로 주어집니다.
# 기온 데이터는 최소 7개(일주일)에서 최대 30개(한달)까지 주어질 수 있습니다.
# 날짜는 중복되지 않습니다.
# 중복된 온도일 경우 날짜가 빠른 것이 앞에 정렬되어야 합니다.

# 입출력 예
# 입력 (기온 데이터)
{'2024-01-01': 15, '2024-01-02': 17, '2024-01-03': 16, '2024-01-04': 20, '2024-01-05': 19, '2024-01-06': 21, '2024-01-07': 18}
# 출력 (상위 3일의 기온)
['24-01-06: 21', '24-01-04: 20', '24-01-05: 19']

# 입출력 설명
# 주어진 일주일 동안의 최고 기온 데이터에서 가장 높은 온도를 기록한 상위 3일을 'YY-MM-DD: 온도' 형식으로 반환합니다.
# 예를 들어, 가장 높은 기온을 기록한 날은 '2024-01-06'로 21도였으며, 그 다음은 '2024-01-04'의 20도, '2024-01-05'의 19도입니다.

In [20]:
temperature_data = {
    '2024-01-01': 15,
    '2024-01-02': 17,
    '2024-01-03': 16,
    '2024-01-04': 20,
    '2024-01-05': 19,
    '2024-01-06': 21,
    '2024-01-07': 18
}

top_3 = sorted((temperature_data.items()), key=lambda x: x[1], reverse=True)[:3]

result = [f'{day[0][2:]}: {day[1]}' for day in top_3]
print(result)

# 'YY-MM-DD: 온도'

for day in top_3:
    print(day)

['24-01-06: 21', '24-01-04: 20', '24-01-05: 19']
('2024-01-06', 21)
('2024-01-04', 20)
('2024-01-05', 19)