<a href="https://colab.research.google.com/github/jsyoo1229/orm/blob/main/241021_%ED%8C%8C%EC%9D%B4%EC%95%8C%EA%B3%A0_100_14_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###14번

In [ ]:
# https://100.pyalgo.co.kr/?page=14#
# ['To Kill a Mockingbird', 'Moby Dick', '1984']

Books = {'AX21': 'Moby Dick', 'BX32': '1984', 'CX14': 'To Kill a Mockingbird'}
code = Books.keys()
title = Books.values()

def solution(data):
    return sorted(title, key = lambda x: code)

solution(Books)

['Moby Dick', '1984', 'To Kill a Mockingbird']

In [ ]:
Books = {'AX21': 'Moby Dick', 'BX32': '1984', 'CX14': 'To Kill a Mockingbird'}

def solution(data):
    sorted_keys = sorted(data.keys())    # 키 값들을 미리 정렬 시킴
    return [data[i] for i in sorted_keys]  # 미리 정렬된, 키 값들을, 리스트 컴프리헨션을 통해 활용

solution(Books)

['Moby Dick', '1984', 'To Kill a Mockingbird']

###15번

In [26]:
# https://100.pyalgo.co.kr/?page=15#

'''
위니브 A 회의실에는 회의 시간 목록이 AM/PM 형식으로 표현되어 있습니다.
이 시간들을 24시간제로 변환한 뒤, 오름차순으로 정렬하는 코드를 작성해주세요.
시간은 'HH:MM AM' 또는 'HH:MM PM' 형식으로 주어지며, 12시간제를 24시간제로
변환할 때 '12:00 AM'은 '00:00', '12:00 PM'은 '12:00'으로 변환합니다.
'''

# 제한 사항
# 시간은 'HH:MM AM' 또는 'HH:MM PM' 형식으로 주어집니다.
# 'HH'는 01에서 12 사이, 'MM'은 00에서 59 사이입니다.
# 시간 목록에는 최소 1개에서 최대 100개의 시간이 주어집니다.

# ['12:00 AM', '09:00 AM', '11:30 AM', '12:45 PM', '01:00 PM']

time = ['01:00 PM', '11:30 AM', '12:45 PM', '09:00 AM', '12:00 AM']

def solution(data):
    def convert_time(time):
        hh, mm, ampm = time.split(' ')[0].split(':') + time.split(' ')[1:]

        if ampm == 'PM' and hh ! == '12'

    return sorted(data, key = convert_time)


# input[0].split(' ') # list
# input[0].split(' ')[0] # str
# input[0].split(' ')[0].split(':') # list
# input[0].split(' ')[1:]  # list
# input[0].split(' ')[1]   # str

# split()이나, slicing으로 끝나면, list
# index로 끝나면, str

###16번

In [ ]:
# https://100.pyalgo.co.kr/?page=16#

['20-01-2024', '12/15/2023', '2022.05.30']
['2022/05/30', '2023/12/15', '2024/01/20']

['03/25/2021', '2020.12.31', '15-04-2022']
['2020/12/31', '2021/03/25', '2022/04/15']



def solution(data):

    def convert_date(date):
        if '-' in date:
            day, month, year = date.split('-')
        elif '/' in date:
            month, day, year = date.split('/')
        else:
            year, month, day = date.split('.')
        return year, month, day  #언패킹

    converted_dates = [convert_date(date) for date in data] #언패킹 적용
    sorted_dates = sorted(converted_dates)  #언패킹한 리스트 정렬

    return ['/'.join(date) for date in sorted_dates]  #.join()  #정렬한 리스트, '/'로 합치기

In [37]:
# ['24-01-26 금', '24-01-22 월', '24-01-19 금']

dates = {'월': ['2024-01-01', '2024-01-08', '2024-01-15', '2024-01-22'],
 '화': ['2024-01-02', '2024-01-09', '2024-01-16'],
 '수': ['2024-01-03', '2024-01-10'],
 '목': ['2024-01-04', '2024-01-11', '2024-01-18'],
 '금': ['2024-01-05', '2024-01-12', '2024-01-19', '2024-01-26']}

years = [i for i in dates.values()]
days = [i for i in dates.keys()]
sorted(dates[])

# sorted(years, reverse = True)

# dates.values()
# dates.keys()

TypeError: unhashable type: 'list'

###17번

In [28]:
# https://100.pyalgo.co.kr/?page=17#
dates = {'월': ['2024-01-01', '2024-01-08', '2024-01-15', '2024-01-22'],
 '화': ['2024-01-02', '2024-01-09', '2024-01-16'],
 '수': ['2024-01-03', '2024-01-10'],
 '목': ['2024-01-04', '2024-01-11', '2024-01-18'],
 '금': ['2024-01-05', '2024-01-12', '2024-01-19', '2024-01-26']}

# dates.items()


# ------튜플 언패킹 방법-------
# dates.items() #튜플
# [('월', ['2024-01-01', '2024-01-08', '2024-01-15', '2024-01-22']),
#  ('화', ['2024-01-02', '2024-01-09', '2024-01-16']),
#  ('수', ['2024-01-03', '2024-01-10']),
#  ('목', ['2024-01-04', '2024-01-11', '2024-01-18']),
#  ('금', ['2024-01-05', '2024-01-12', '2024-01-19', '2024-01-26'])]

# day, dates in dates.items()
# day, dates == dates.items()  #Possible  #변수의 개수와 튜플의 개수가 불일치
# a, b, c, d, e = dates.items()   #Impossible  #변수의 개수와 튜플의 개수가 일치

# for day, dates in dates.items():  #복수 튜플일 경우
#         print(day)
# -----------------------------

# ---------리스트 언패킹 방법----------
# lst = [['a','b','c'],['d','e','f'],['h','i','j']]
# A, B, C = lst
# A    #Possible  #변수의 개수와 리스트 요소의 개수가 불일치

# lst = [('a','b','c'), ('d','e','f'), ('h','i','j')]
# A, B = lst    #Impossible  #변수의 개수와 리스트 요소의 개수가 일치

# lst = [('a','b','c'), ('d','e','f'), ('h','i','j')]
# A, B, C = lst
# A

#-------------------------------------


# my_tuple = [(1, "apple", 3.14), (2, "banana", 8.24), (3, "peach", 10,2), (4, 'melon', 12.2)]
# number, fruit, value = my_tuple


# dates.items()


# date = '20-01-2024'
# day, month, year = date.split('-')
# day



# def solution(data):
#     all_schedules = []

#     for day, dates in data.items():  #반복문 items 언패킹 #dict
#         for date in dates:  #이중 반복문
#             converted_date = f'{date[2:]} {day}'
#             all_schedules.append(converted_date)
#     all_schedules.sort(reverse = True) #sort 함수: 원본 변경
#     return all_schedules[:3]

# solution(dates)

('월', ['2024-01-01', '2024-01-08', '2024-01-15', '2024-01-22'])

###18번

In [42]:
# https://100.pyalgo.co.kr/?page=18#
# ['24-01-06: 21', '24-01-04: 20', '24-01-05: 19']

temper_data = {'2024-01-01': 15, '2024-01-02': 17, '2024-01-03': 16, '2024-01-04': 20, '2024-01-05': 19, '2024-01-06': 21, '2024-01-07': 18}

# l = [i for i in temper_data.items()]
# sorted_data = sorted(l, key = lambda x: x[1], reverse = True)
# top_3 = sorted_data[:3]

# [f'{i[0]}: {i[1]}' for i in top_3]

def solution(data):
    l = [i for i in data.items()]
    sorted_data = sorted(l, key = lambda x: x[1], reverse = True)
    top_3 = sorted_data[:3]

    return [f'{i[0]}: {i[1]}' for i in top_3]

solution(temper_data)

['2024-01-06: 21', '2024-01-04: 20', '2024-01-05: 19']