<a href="https://colab.research.google.com/github/jsyoo1229/orm/blob/main/Chat_GPT_%EC%83%9D%EC%84%B1_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# map 기초 문제

In [ ]:
# map 기능 문제
# 문제: 정수 [1, 2, 3, 4, 5] 목록을 문자열 표현으로 변환합니다.

x = [1, 2, 3, 4, 5]
list(map(str, [1, 2, 3, 4, 5]))

['1', '2', '3', '4', '5']

In [ ]:
# 문제: [2, 4, 6, 8] 목록의 각 요소에 제곱 함수를 적용합니다.
x = [2, 4, 6, 8]
list(map(lambda x: x ** 2, x))

[4, 16, 36, 64]

In [ ]:
# 문제: 화씨 온도 목록 [32, 212, 100]을 섭씨로 변환합니다.
x = [32, 212, 100]

In [ ]:
# 문제: ['100', '200', '300'] 목록의 각 요소에 'USD'를 연결합니다.
list(map(lambda x: x + 'USD', ['100', '200', '300']))

['100USD', '200USD', '300USD']

In [ ]:
# 문제: [1, 3, 5, 7] 목록의 각 숫자를 두 배로 늘립니다.
x = [1, 3, 5, 7]
list(map(lambda x: x * 2, x))

[2, 6, 10, 14]

In [ ]:
# 문제: 부울 값 [True, False, True] 목록을 정수로 바꿉니다.
x = [True, False, True]
list(map(lambda x: int(x), x))

[1, 0, 1]

In [ ]:
# ['hello', 'world'] 목록의 각 단어를 대문자로 만듭니다.
x = ['hello', 'world']
list(map(lambda x: x.upper(), x))

['HELLO', 'WORLD']

In [ ]:
# ['Python', 'is', 'fun'] 목록에서 각 단어의 길이를 구하세요.
x = ['Python', 'is', 'fun']

list(map(lambda x: len(x), x))

[6, 2, 3]

In [ ]:
# 숫자 [1, 2, 3, 4]에 대한 튜플 (number, square) 목록을 만듭니다.
x = [1, 2, 3, 4]

list(map(lambda x: x ** 2, x))

[1, 2, 3, 4]

#filter

In [ ]:
# 문제: [1, 2, 3, 4, 5]에서 모든 홀수를 필터링합니다.
l = [1, 2, 3, 4, 5]
list(filter(lambda x: x % 2 == 0, l))

[2, 4]

In [ ]:
# 문제: ['apple', 'banana', 'cherry']에서 'a'를 포함하는 문자열만 유지하세요.
l = ['apple', 'banana', 'cherry']
list(filter(lambda x: 'a' in x, l))

['apple', 'banana']

In [ ]:
# 문제: [8, 11, 14, 5]에서 10보다 큰 숫자를 필터링합니다.
l = [8, 11, 14, 5]

list(filter(lambda x: x>10, l))

[11, 14]

In [ ]:
# [None, 1, None, 2, 3]에서 None 값을 제거합니다.

In [ ]:
l = [None, 1, None, 2, 3]
list(filter(lambda x:  x != None, l))

[1, 2, 3]

In [ ]:
# 문제: ['YES', 'no', 'MAYBE', 'ok']에서 대문자가 아닌 모든 단어를 필터링합니다.
l = ['YES', 'no', 'MAYBE', 'ok']
list(filter(lambda x : x.islower(), l))

['no', 'ok']

In [ ]:
# 문제: [1, 'two', 3, 'four']의 정수만 유지하세요
l = [1, 'two', 3, 'four']
list(filter(lambda x: isinstance(x, int), l))   #isinstance(처음 앎)

[1, 3]

In [ ]:
# 문제: ['123', 'abc', '456', 'def']에서 순전히 알파벳순인 문자열을 유지합니다.
ㅣ = ['123', 'abc', '456', 'def']
list(filter)

AttributeError: 'int' object has no attribute 'isalpha'

#isinstance

In [ ]:
# 3. isinstance 함수 문제
# 문제: hello'가 str의 인스턴스인지 확인하세요.
isinstance('hello', str)

True

In [ ]:
# 문제: 42가 int의 인스턴스인지 확인합니다.
isinstance(42, int)

True

In [ ]:
# 문제: 3.14가 float의 인스턴스인지 확인하세요.
isinstance(3.14, float)

True

In [ ]:
# 문제: [1, 2, 3]이 list의 인스턴스인지 확인하세요.
l = [1, 2, 3]
isinstance(l, list)

True

#일급함수

In [ ]:
# 문제 1: 기능 할당

# 두 숫자를 곱하는 multiply라는 Python 함수를 작성하세요.
# 그런 다음 이 함수를 'double' 변수에 할당하고 이를 사용하여
# 숫자 5를 두 배로 늘립니다.

def multiply(x, y):
    return x * y

double = multiply
double(2, 5)

10

In [ ]:
# 함수와 두 개의 숫자를 인수로 사용하는 operate 함수를 만듭니다.
# 두 숫자를 더하는 'sum' 함수와 함께 사용하는 방법을 보여줍니다.
def operate(func, x, y):
    return func(x, y)

def sum(x, y):
    return x + y

operate(sum, 5 ,3)

8

In [ ]:
# 문제 3: 함수 반환 함수

# 숫자에 주어진 인수를 곱하는 함수를 반환하는 'get_multiplier' 함수를 작성하세요.
# 이를 사용하여 숫자를 3배로 늘리는 '삼중' 함수를 만듭니다.
def get_multiplier(f):
    def multiplier(x):
        return x * f
    return multiplier