<a href="https://colab.research.google.com/github/jsyoo1229/orm/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%9D%BC%EA%B8%89%ED%95%A8%EC%88%98_%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def greet(name):
    return f'Hi, {name}'

say_Hi = greet
say_Hi('Jinsun')

'Hi, Jinsun'

In [ ]:
p = print
p('hello')

hello

In [ ]:
l = [1, 2, 3]
add = l.append
add(10)
l

[1, 2, 3, 10]

In [ ]:
def add(x, y):
    return x + y

def sub(x, y):
    return x - y

def mul(x, y):
    return x * y

def div(x, y):
    return x/y

funcs = [add, sub, mul, div]
funcs[0](2, 3)
funcs[2](2, 3)

6

In [ ]:
class Operator:
    def add(self, x, y):
        return x + y

    def sub(self, x, y):
        return x - y

    def mul(self, x, y):
        return x * y

    def div(self, x, y):
        return x / y


op = Operator()

l_op = {
    'add': op.add,
    'sub': op.sub,
    'mul': op.mul,
    'div': op.div
}

print(l_op['add'](2, 3))
print(l_op['mul'](2, 3))

5
6

In [ ]:
def create_adder(x):
    def adder(y):
        return x + y
    return adder

adder_n = create_adder(10)
adder_n(120)

130

In [ ]:
def c_sq(x):
    def sq(y):
        return x ** y
    return sq

two_sq = c_sq(2)
two_sq(12)

4096

In [ ]:
num = 1

for i in range(1, 10):
    num *= i

num

362880

In [ ]:
s = ''

for i in 'Hello':
    s = i + s

s

'olleH'

In [ ]:
def apply_func(func, i):
    return func(i)

def sq(x):
    return x ** 2

def cube(x):
    return x * x * x

result = apply_func
result(sq, 9)
result(cube, 9)

729

In [ ]:
def math_func(oper):
    def add(x, y):
        return x + y

    def minus(x, y):
        return x - y

    def mul(x, y):
        return x * y

    def div(x, y):
        return x / y


    if oper == 'add':
        return add
    elif oper == 'minus':
        return minus
    elif oper == 'mul':
        return mul
    elif oper == 'div':
        return div


add_func = math_func('add')
add_func(2, 3)

5

In [ ]:
class Calc:
    pass

add = Calc()

add.oper = lambda x, y: x + y
add.oper(10, 20)

30

In [ ]:
def calc(oper, original):
    def add(x, y):
        return original + x + y

    def sub(x, y):
        return original - x - y

    if oper == 'add':
        return add

    if oper == 'sub':
        return sub

add = calc('add', 1000)
add(10 ,20)

1030

In [ ]:
def login(function):
    pass

@login
def read():
    pass

In [ ]:
def check_time(func):
    pass

@check_time
def f():
    pass

In [ ]:
def simple_deco(func):
    def wrapper(a, b):
        print('전')
        result = func(a, b)
        print('후')
        return result

    return wrapper

@simple_deco
def hello(a, b):
    return a + b


hello(2, 3)

전
후

5

In [ ]:
def print_args(*args):
    print(args)

print_args(100, True, 'licat')

(100, True, 'licat')

In [ ]:
def print_args(b, *args):
    print(args)

print_args(100, True, 'licat')

(True, 'licat')