<a href="https://colab.research.google.com/github/jsyoo1229/orm/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C_%EB%AC%B8%EC%9E%90%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
https://wikidocs.net/7023

In [ ]:
# 023 문자열 인덱싱
# 아래의 문자열에서 '홀' 만 출력하세요.

string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [ ]:
# 024 문자열 슬라이싱
# 문자열을 거꾸로 뒤집어 출력하세요.
# 실행 예:
# NOHTYP

string = "PYTHON"
print(string[::-1])

NOHTYP

In [ ]:
'''
025 문자열 치환
아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
실행 예
010 1111 2222
'''

phone_number = "010-1111-2222"
print(phone_number[0:3], phone_number[4:8], phone_number[9:13])
print(phone_number.replace('-', ' ')) #replace 함수

010 1111 2222
010 1111 2222

In [ ]:
'''
026 문자열 다루기
25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

실행 예
01011112222
'''
print(phone_number.replace('-', '')) #replace 함수

01011112222

In [ ]:
'''
027 문자열 다루기
url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

url = "http://sharebook.kr"
실행 예:
kr
'''

url = "http://sharebook.kr"
print(url.split('.')) # split 함수
print(url.split('.')[-1])

['http://sharebook', 'kr']
kr

In [ ]:
'''
028 문자열은 immutable
아래 코드의 실행 결과를 예상해보세요.

>> lang = 'python'
>> lang[0] = 'P'
>> print(lang)
'''
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [ ]:
'''
029 replace 메서드
아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

>> string = 'abcdfe2a354a32a'
실행 예:
Abcdfe2A354A32A
'''
string = 'abcdfe2a354a32a'
print(string.replace('a', 'A'))

Abcdfe2A354A32A

In [ ]:
'''
030 replace 메서드
아래 코드의 실행 결과를 예상해보세요.

>> string = 'abcd'
>> string.replace('b', 'B')
>> print(string)
'''
# aBcd # 오답
string = 'abcd'
string.replace('b', 'B') # replace 함수는, 변경된 객체를 리턴
print(string)

'''
`abcd`가 그대로 출력됩니다.
왜냐하면 문자열은 변경할 수 없는 자료형이기 때문입니다.
replace 메서드를 사용하면 원본은 그대로 둔채로 변경된
새로운 문자열 객체를 리턴해줍니다.
'''

abcd

' \n`abcd`가 그대로 출력됩니다. \n왜냐하면 문자열은 변경할 수 없는 자료형이기 때문입니다. \nreplace 메서드를 사용하면 원본은 그대로 둔채로 변경된 \n새로운 문자열 객체를 리턴해줍니다.\n'

In [ ]:
'''
 031 문자열 합치기
아래 코드의 실행 결과를 예상해보세요.

>> a = "3"
>> b = "4"
>> print(a + b)
'''
# 나의_예상: 34 # 정답
a = "3"
b = "4"
print(a + b)

34

In [ ]:
'''
033 문자열 곱하기
화면에 '-'를 80개 출력하세요.

실행 예:
--------------------------------------------------------------------------------
'''
print('-' * 80)

--------------------------------------------------------------------------------

In [ ]:
'''
034 문자열 곱하기
변수에 다음과 같은 문자열이 바인딩되어 있습니다.

>>> t1 = 'python'
>>> t2 = 'java'
변수에 문자열 더하기와 문자열 곱하기를
사용해서 아래와 같이 출력해보세요.

실행 예:
python java python java python java python java
'''
t1 = 'python'
t2 = 'java'
print((t1 + ' ' + t2 + ' ') * 4)

python java python java python java python java

In [ ]:
'''
035 문자열 출력
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때
% formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13
'''

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
# 이름: 김민수 나이: 10
# 이름: 이철희 나이: 13

print(f'이름: {name1} 나이: {age1}') # f-string
print(f'이름: {name2} 나이: {age2}')

print("이름: %s 나이: %d" % (name1, age1)) # % formatting
print("이름: %s 나이: %d" % (name2, age2))

print('이름: {} 나이: {}'.format(name1, age1)) # format() 메서드
print('이름: {} 나이: {}'.format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
'''
038 컴마 제거하기
삼성전자의 상장주식수가 다음과 같습니다.
컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

상장주식수 = "5,969,782,550"
'''
상장주식수 = "5,969,782,550"
# print(int(상장주식수.remove(','))) # 오답 # remove함수 없음
print(int(상장주식수.replace(',', '')))

5969782550

In [ ]:
'''
039 문자열 슬라이싱
다음과 같은 문자열에서 '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"
'''
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [ ]:
'''
040 strip 메서드
문자열의 좌우의 공백이
있을 때 이를 제거해보세요.
'''
data = "   삼성전자    "
print(data.replace(' ', '')) # 나의_예상
print(data.strip()) # 더 효율적인 답

삼성전자
삼성전자

In [ ]:
'''
041 upper 메서드
다음과 같은 문자열이 있을 때
이를 대문자 BTC_KRW로 변경하세요.
'''

ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

In [ ]:
'''
042 lower 메서드
다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

ticker = "BTC_KRW"
'''
print(ticker.lower())

btc_krw

In [ ]:
'''
043 capitalize 메서드
문자열 'hello'가 있을 때 이를
'Hello'로 변경해보세요.
'''
str = 'hello'
print(str[0].upper()) # 나의_예상 # 오답
print(str.capitalize()) # 정답 # capitalize 함수

H
Hello

In [ ]:
'''
044 endswith 메서드
파일 이름이 문자열로 저장되어 있을 때
endswith 메서드를 사용해서 파일 이름이
'xlsx'로 끝나는지 확인해보세요.
'''
file_name = "보고서.xlsx"
file_name.endswith('xlsx') # endswith: 처음 보는 함수

True

In [ ]:
'''
045 endswith 메서드
파일 이름이 문자열로 저장되어 있을 때
endswith 메서드를 사용해서 파일 이름이
'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"
'''
# print(file_name.endswith('xlsx'))
# print(file_name.endswith('xls'))
file_name.endswith(('xlsx', 'xls')) # or

True

In [ ]:
'''
046 startswith 메서드
파일 이름이 문자열로 저장되어 있을 때
startswith 메서드를 사용해서 파일 이름이
'2020'로 시작하는지 확인해보세요.
'''
file_name = "2020_보고서.xlsx"
file_name.startswith('2020') # startswith 함수 # 처음 보는 메서드

True

In [ ]:
'''
047 split 메서드
다음과 같은 문자열이 있을 때
공백을 기준으로 문자열을 나눠보세요.
'''
a = "hello world"
a.split(' ')

['hello', 'world']

In [ ]:
'''
048 split 메서드
다음과 같이 문자열이 있을 때
btc와 krw로 나눠보세요.
'''
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [ ]:
'''
049 split 메서드
다음과 같이 날짜를 표현하는
문자열이 있을 때 연도, 월, 일로 나눠보세요.
'''
date = "2020-05-01"
d_s = date.split('-')

print(f'연도: {d_s[0]}, 월: {d_s[1]}, 일: {d_s[2]}')

연도: 2020, 월: 05, 일: 01

In [ ]:
'''
050 rstrip 메서드
문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.
'''
data = "039490     "
data.strip() # 나의_예상
data.rstrip() # 더 정확한 방법 # rstrip: 오른쪽 공백 제거 함수
data # 원본은 변경 x

'039490     '