<a href="https://colab.research.google.com/github/jsyoo1229/orm/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
https://wikidocs.net/78562
https://youtu.be/p5J78hpMm24(131-140)

https://wikidocs.net/7020
https://youtu.be/R6HiXvAmpV4(141-150)

https://wikidocs.net/78768
https://youtu.be/z4WV0qleoas(151-160)

https://wikidocs.net/7033
https://youtu.be/Wz9rC-Zlk-Q(161-170)

https://wikidocs.net/25315

In [ ]:
'''
131
for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)
'''
# 사과 귤 수박

'''
리스트에 들어있는 문자열이 한 라인에 하나씩 출력됩니다.
사과
귤
수박
'''

In [ ]:
'''
132
for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")
'''
#   #####
    #####
    #####
''' for문의 핵심은 "들여쓰기된 코드가
자료구조에 저장된 데이터 개수만큼 반복된다"'''

'\n132\nfor문의 실행결과를 예측하라.\n\n과일 = ["사과", "귤", "수박"]\nfor 변수 in 과일:\n  print("#####")\n'

In [ ]:
'''
133
다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

for 변수 in ["A", "B", "C"]:
  print(변수)
'''
# 변수 = 'A'
# print(변수)

# 변수 = 'B'
# print(변수)

# 변수 = 'C'
# print(변수)

for 변수 in ["A", "B", "C"]:
    print(변수)

A
B
C

In [ ]:
'''
134
for문을 풀어서 동일한 동작을하는 코드를 작성하라.

for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)
'''
# 변수 = 'A'
# print('출력: ', 변수)

# 변수 = 'B'
# print('출력: ', 변수)

# 변수 = 'C'
# print('출력: ', 변수)

for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

출력: A
출력: B
출력: C

In [ ]:
'''
135
for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)
'''
변수 = 'A'
b = 변수.lower()
print('변환: ', b)

변수 = 'B'
b = 변수.lower()
print('변환: ', b)

변수 = 'C'
b = 변수.lower()
print('변환: ', b)

for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변환:  a
변환:  b
변환:  c
변환: a
변환: b
변환: c

In [ ]:
'''
136
다음 코드를 for문으로 작성하라.

변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)
'''
for 변수 in [10, 20, 30]:
    print(변수)

10
20
30

In [ ]:
'''
137
다음 코드를 for문으로 작성하라.

print(10)
print(20)
print(30)
'''
for i in [10, 20, 30]:
    print(i)

10
20
30

In [ ]:
'''
138
다음 코드를 for문으로 작성하라.

print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")
'''
# for i in [10, '-------', 20, '-------', 30, '-------']:
#     print(i)

for i in [10, 20, 30]:
    print(변수)
    print('-------')

10
-------
20
-------
30
-------

In [ ]:
'''
139
다음 코드를 for문으로 작성하라.

print("++++")
print(10)
print(20)
print(30)
'''
# for i in [10, 20, 30]:
#     print('++++')
#     print(i)

print('++++')
for i in [10, 20, 30]:
    print(i)

++++
10
20
30

In [ ]:
'''
140
다음 코드를 for문으로 작성하라.

print("-------")
print("-------")
print("-------")
print("-------")
'''
# for i in '-------':
#     print(i)

# for i in ['-------', '-------', '-------', '-------']:
#     print(i)

for i in ['1', '2', '3', '4']:
    print('-------')

-------
-------
-------
-------

In [ ]:
'''
141
다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.

리스트 = [100, 200, 300]
110
210
310
'''
리스트 = [100, 200, 300]
for i in 리스트:
    print(i+10)

110
210
310

In [ ]:
'''
142
for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

리스트 = ["김밥", "라면", "튀김"]
오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김
'''
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
    print('오늘의 메뉴: ', i)

오늘의 메뉴:  김밥
오늘의 메뉴:  라면
오늘의 메뉴:  튀김

In [ ]:
'''
143
리스트에 주식 종목이름이 저장돼 있다.

리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
저장된 문자열의 길이를 다음과 같이 출력하라.

6
4
4
'''
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
    print(len(i))

6
4
4

In [ ]:
'''
144
리스트에는 동물이름이 문자열로 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']
동물 이름과 글자수를 다음과 같이 출력하라.

dog 3
cat 3
parrot 6
'''
리스트 = ['dog', 'cat', 'parrot']

# for i in 리스트:
#     print(i, 3 * i.index())

for i in 리스트:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [ ]:
'''
145
리스트에 동물 이름 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']
for문을 사용해서 동물 이름의 첫 글자만 출력하라.

d
c
p
'''
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[:1])

for i in 리스트:
    print(i[0])

d
c
p
d
c
p

In [ ]:
'''
146
리스트에는 세 개의 숫자가 바인딩돼 있다.

리스트 = [1, 2, 3]
for문을 사용해서 다음과 같이 출력하라.

3 x 1
3 x 2
3 x 3
'''
리스트 = [1, 2, 3]
for i in 리스트:
    print('3 x', i)

for i in 리스트:
    print('3 x', str(i))

3 x 1
3 x 2
3 x 3
3 x 1
3 x 2
3 x 3

In [ ]:
'''
147
리스트에는 세 개의 숫자가 바인딩돼 있다.

리스트 = [1, 2, 3]
for문을 사용해서 다음과 같이 출력하라.

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
'''
for i in 리스트:
    print('3 x', str(i), '=', 3 * i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [ ]:
'''
148
리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
for문을 사용해서 다음과 같이 출력하라.

나
다
라
'''
리스트 = ["가", "나", "다", "라"]
for i in 리스트[1:]:
    print(i)

나
다
라

In [ ]:
'''
149
리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
for문을 사용해서 다음과 같이 출력하라.

가
다
'''
for i in 리스트[::2]:
    print(i)

가
다

In [ ]:
'''150
리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
for문을 사용해서 다음과 같이 출력하라.

라
다
나
가
'''
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::-1]:
    print(i)

라
다
나
가

In [ ]:
'''
151
리스트에는 네 개의 정수가 저장돼 있다.

리스트 = [3, -20, -3, 44]
for문을 사용해서 리스트의 음수를 출력하라.

-20
-3
'''
리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i < 0:
        print(i)

-20
-3

In [ ]:
'''
152
for문을 사용해서 3의 배수만을 출력하라.

3
'''
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i % 3 == 0:
        print(i)

3

In [ ]:
'''
153
리스트에서 20 보다 작은 3의 배수를 출력하라

12
18
'''
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if i % 3 ==0 and i < 20:
        print(i)

12
18

In [ ]:
'''
154
리스트에서 세 글자 이상의 문자를 화면에 출력하라

study
python
language
'''
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

In [ ]:
'''
155
리스트에서 대문자만 화면에 출력하라.

A
D
'''
리스트 = ["A", "b", "c", "D"]
# for i in 리스트:
#     if i.islower():
#         print()
#     else:
#         print(i)

for i in 리스트:
    if i.isupper():
        print(i)

A
D

In [ ]:
'''
156
리스트에서 소문자만 화면에 출력하라.

b
c
'''
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.islower():
        print(i)

b
c

In [ ]:
'''
157
이름의 첫 글자를 대문자로 변경해서 출력하라.

Dog
Cat
Parrot
'''
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i.capitalize())

Dog
Cat
Parrot

In [ ]:
'''
158
파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)

hello
ex01
intro
'''
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    file_name = i.split('.')[0]
    print(file_name)

hello
ex01
intro

In [ ]:
'''
159
파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

intra.h
define.h
'''
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    split_name = i.split('.')
    if split_name[1] == 'h':
        print(i)
        print(split_name[0])

intra.h
intra
define.h
define

In [ ]:
'''
160
파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

intra.h
intra.c
define.h
'''
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    split_name = i.split('.')
    if split_name[1] == 'h' or split_name[1] == 'c':
        print(i)

intra.h
intra.c
define.h

In [ ]:
'''
161
for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.
'''
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
'''
162
월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

2002
2006
2010
...
2042
2046
2050
'''
for i in range(2002, 2050, 4):
    print(i)

for i in range(2002, 2051, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046

In [ ]:
'''
163
1부터 30까지의 숫자 중 3의 배수를 출력하라.

3
6
9
12
15
18
21
24
27
30
'''
for i in range(3, 31, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [ ]:
'''
164
99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.
'''
for i in range(99, -1, -1):
    print(i)

for i in range(100):
    print(99 - i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
'''
165
for문을 사용해서 아래와 같이 출력하라.

0.0
0.1
0.2
0.3
0.4
0.5
...
0.9
'''
# for i in range(0.0, 1.0, 0.1):
#     print(i)

for i in range(10):
    print (i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [ ]:
'''
166
구구단 3단을 출력하라.

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27
'''
# for i in int(3):
#     for j in range(1, 10):
#         print(f'{i}x{j} =', {i}*{j})

for i in range(1, 10):
    print(3, 'x', i, '=', 3 * i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [ ]:
'''
167
구구단 3단을 출력하라. 단 홀수 번째만 출력한다.

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27
'''
for i in range(1, 10, 2):
    print(3, 'x', i, '=', 3*i)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [ ]:
'''
168
1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

합 : 55
'''
# for i in range(1, 11):
#     i+=i
#     print(i)

hab = 0
for i in range(1, 11):
    hab += i
    print(hab)

1
3
6
10
15
21
28
36
45
55

In [ ]:
'''
169
1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

합: 25
'''
hab = 0
for i in range(1, 11, 2):
    hab += i
    print(hab)

1
4
9
16
25

In [ ]:
'''
170
1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.
'''
multi = 1
for i in range(1, 11):
    multi *= i
    print(multi)

1
2
6
24
120
720
5040
40320
362880
3628800

In [ ]:
'''
171
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

32100
32150
32000
32500
'''
price_list = [32100, 32150, 32000, 32500]
for i in price_list:
    print(i)

for i in range(4):
    print(price_list[i])

for i in range(len(price_list)):
    print(price_list[i])
# len() 함수를 사용하면 price_list 가 변해도 코드의 수정이 필요없습니다.

32100
32150
32000
32500
32100
32150
32000
32500

In [ ]:
'''
172
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

0 32100
1 32150
2 32000
3 32500
'''
price_list = [32100, 32150, 32000, 32500]
# for i in range(4):
#     print(i, price_list[i])

for i, j in enumerate(price_list):
    print(i, j) #enumerate 함수

0 32100
1 32150
2 32000
3 32500

In [ ]:
'''
173
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

3 32100
2 32150
1 32000
0 32500
'''
price_list = [32100, 32150, 32000, 32500]
# for i in range(3, -1, -1):
#     print(i, )

# for i in range(len(price_list)):
#     print(3 - i, price_list[i])

for i in range(len(price_list)):
    print((len(price_list) - 1) - i, price_list[i])

In [ ]:
'''
174
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

100 32150
110 32000
120 32500
'''
price_list = [32100, 32150, 32000, 32500]
for i in range(1, 4):
    print(90 + 10 * i, price_list[i])

In [ ]:
'''
175
my_list를 아래와 같이 출력하라.

가 나
나 다
다 라
'''
my_list = ["가", "나", "다", "라"]
# for i in my_list

for i in [0, 1, 2]:
    print(my_list[i], my_list[i+1])

for i in range( len(my_list) - 1 ) :
  print(my_list[i], my_list[i+1])

for i in range( 1, len(my_list) ) :
  print(my_list[i-1], my_list[i])

In [ ]:
'''
176
리스트를 아래와 같이 출력하라.

가 나 다
나 다 라
다 라 마
'''
my_list = ["가", "나", "다", "라", "마"]
for i in range(0, 3):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [ ]:
'''
177
반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

라 다
다 나
나 가
'''
my_list = ["가", "나", "다", "라"]
for i in range(3, 0, -1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [ ]:
'''
178
리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다. 이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.
'''
my_list = [100, 200, 400, 800]
for i in range(1, 4):
    print(my_list[i]-my_list[i-1])

100
200
400

In [ ]:
'''
179
리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 같은 방식으로 나머지 데이터의 평균을 출력한다.
'''
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(4):
    avg = (my_list[i] + my_list[i+1] + my_list[i+2])/3
    print(avg)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [ ]:
'''
180
리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

'''
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

change_range = list(zip(high_prices, low_prices))

volatility = []

# for i in range(5):
#     gap = (change_range[i][0]-change_range[i][1])
#     volatility.append(gap)

# print(volatility)

#답안
volatility = []
for i in range(len(low_prices)) :
    volatility.append(high_prices[i] - low_prices[i])

# high_prices[2] - low_prices[2]

30

In [ ]:
'''
191
data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.



수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.

2000.28
3050.427
2050.2870000000003
'''
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

# for i in range(3):
#     data[i][0]*0.014, data[i][1]*0.014, data[i][2]*0.014, data[i][3]*0.014

for day in data:
    for price in day:
        print(price + (price * 0.014 * 0.01))

2000.28
3050.427
2050.287
1980.2772
7501.05
2050.287
2050.287
1980.2772
15452.163
15052.107
15552.177
14902.086

In [ ]:
'''
192
191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----
'''
for day in data:
    # print('----')
    for price in day:
        print(price + (price * 0.014 * 0.01))
    print('----')

2000.28
3050.427
2050.287
1980.2772
----
7501.05
2050.287
2050.287
1980.2772
----
15452.163
15052.107
15552.177
14902.086
----

In [ ]:
'''
193
192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.

>> print(result)
[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, ...]
'''
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []

for day in data:
    for price in day:
        result2 = (price + (price * 0.014 * 0.01))
        result.append(result2)

result

[2000.28,
 3050.427,
 2050.287,
 1980.2772,
 7501.05,
 2050.287,
 2050.287,
 1980.2772,
 15452.163,
 15052.107,
 15552.177,
 14902.086]

In [ ]:
'''
194
191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라. 저장 포맷은 아래와 같다. 각 행에 대한 데이터끼리 리스트에 저장되어야 한다.

>> print(result)
[
 [2000.28, 3050.427, 2050.2870000000003, 1980.2772],
 [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772],
 [15452.163, 15052.107, 15552.177, 14902.086000000001]
]
'''
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []

for day in data:
    sub = []
    for price in day:
        result2 = (price + (price * 0.014 * 0.01))
        sub.append(result2)
    result.append(sub)

print(result)

[[2000.28, 3050.427, 2050.287, 1980.2772], [7501.05, 2050.287, 2050.287, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086]]

In [ ]:
'''
195
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 화면에 종가데이터를 출력하라.

100
190
310
'''
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

# for day in ohlc[1:]:
#     print(day)

# for data in day[3:]:
#     print(data)

# for day in ohlc[1:]:
#     for data in day[3:]:
#         print(data)

for day in ohlc[1:]:
    print(day[3])

100
190
310

In [ ]:
'''
196
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 150원보다 큰경우에만 종가를 출력하라.


190
310
'''
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for day in ohlc[1:]:
    if day[3] > 150:
        print(day[3])

190
310

In [ ]:
'''
197
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.

100
310
'''
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for day in ohlc[1:]:
    if day[3] >= day[0]:
        print(day[3])

100
310

In [ ]:
'''
198
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
>> print(volatility)
[40, 30, 10]
'''
volatility = []

for day in ohlc[1:]:
    gap = day[1] - day[2]
    volatility.append(gap)

print(volatility)

[40, 30, 10]

In [ ]:
'''
199
리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.

종가가 시가보다 높은 거래일의 OHLC는 [300, 310, 300, 310] 이다. 따라서 이 거래일의 변동성은 10 (310 - 300)이다.

10
'''
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for day in ohlc[1:]:
    if day[3] > day[0]:
        print(day[1]-day[2])

10

In [ ]:
'''
200
리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.

1일차 수익 0원 (100 - 100), 2일차 수익 -10원 (190 - 200), 3일차 수익 10원 (310 - 300) 이다.

0
'''
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

hap = 0
for day in ohlc[1:]:
    gap = day[3]-day[0]
    hap += gap

print(hap)

0